body {
font-family: Arial;
font-size: .9em;
text-align: center;
background: #e8eae3;
}
#outer {
width: 750px;
margin: 20px auto;
text-align: left;
}
#head {
background: #262656;
padding: 8px;
border: 3px solid #003;
margin: 5px 0;
text-align: center;
}
#head a {
color: #fff;
text-decoration: none;
font-family: Georgia;
font-size: 1.5em;
}
#head a:hover {
text-decoration: underline;
color: #ccf;
}
#inner {
padding: 10px;
border: 1px solid #cce;
background: #f9f9f9;
}
label {
font-weight: 700;
font-size: .9em;
display: block;
width: 12em;
float: left;
}
ul label {
width: 6em;
}
ul li {
margin: 2px;
}
form p {
border: 1px solid #ddd;
padding: 4px;
background: #f6f6ff;
}
fieldset {
border: 1px solid #ddd;
background: #fff;
margin: 10px 0;
}
legend {
font-weight: 700;
background: #ddd;
border: 1px solid #aaa;
padding: 2px 10px;
}
.response {
border: 2px solid #a00;
padding: 0 10px;
background: #ffc;
font-size: .9em;
margin: 10px 2px;
}
strong small {
color: red;
}
#admin {
width:300px;
float: right;
font-size: .8em;
background: #fff;
padding:2px;
border: 1px solid #ddd;
margin-left: 10px;
}
#admin h2 {
margin: -2px;
padding: 2px;
background: #ffc;
}
#admin ul {
padding-left: 1.5em;
}
form {
clear: both;
}
pre {
padding: 15px;
border: 1px solid #ddd;
background: #fff;
}