<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Author" content="Rohan (Iceman) Morris : sirrom2005@gmail.com" />
<meta name="sitename" content="www.videouploader.net" />
<meta name="language" content="en" />
<meta http-equiv="keywords" name="keywords" content="videos, uploads, www.videouploader.net, video hosting" />
<meta http-equiv="description" name="description" content="Upload your videos, host your video on videoupload.net, shear them with everyone" />
<title>www.videouploader.net :: The online video server :: uplaod videos, shear videos, watch videos online for free.</title>
<script language="javascript" src="../doc_root/www/js/global.js"></script>
</head>
<body>
<div id="container">
    <div id="header">
        <div id="inner">
            <div>
                <a href="../" title="videouploader.net :: the online video server" id="logo"></a>
                <script type="text/javascript"><!--
                google_ad_client = "pub-7769573252573851";
                /* wide_image_banner */
                google_ad_slot = "7284682713";
                google_ad_width = 468;
                google_ad_height = 60;
                //-->
                </script>
                <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
                <br />
                
                <a class="links" href="../feedback.html">Bug Report</a> &bull;
                <a class="links" href="index.php?action=my_profile">My Profile</a> &bull;
                <a class="links" href="index.php?action=logout">logout</a>
                {ADMIN_USER}
            </div>
        </div>
        <ul>
            <li><a class="menunav" href="index.php" title="">Home</a></li>
            <li><a class="menunav" href="list_categories.php">Categories</a></li>
            <li><a class="menunav" href="#" onclick="if(confirm('Are you sure want to generate all pages now?\nThis may take a long time depending on your server.')){ window.open('generate_all_video_pages.php', 'mywindow','') };">Generate pages</a></li>
           
            <li><a class="menunav" href="upload.php">Upload video</a></li>
            <li><a class="menunav" href="my_videos.php">My Videos</a></li>
        </ul>
    </div>
	<div id="content">
    	<div class="flashmsg tpm" xt-autoupdate></div>
    	<div class="master-content"></div>
        <br class="clearleft" />
    </div>
    <div id="footer">&nbsp;</div>
    <div id="footer2">
        <!--a href="<?php echo DOMAIN;?>about_us.html">About</a-->
        <a href="privacy_policy.html">Privacy Policy</a>
        <a href="terms_conditions.html">Terms & Conditions</a>
        <a href="register.html">Register</a>
        <!--a href="partners.html">Partners</a-->
        <a href="contact_us.html">Contact Us</a>
    </div>
</div>
<!--script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5576813-9']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script--> 
</body>
</html>