<form name="frm" id="frm" class="formStyle1" method="post" action=""> 
    <h1>Edit Video</h1>
    <div>
    VIDEO
    </div>
    <p>
    	<label for="title">Title:</label>
    	<input type="text" class="textbox" name="title" id="title" maxlength="90" value="" />
    </p>
    <p>
    	<label for="tagss">Tags:<small>separated by commas (,)</small></label>
        <input type="text" class="textbox" name="tags" id="tags" value="" />
   </p>
    <p><label for="category_id">Category:</label></label>
        <select name="category_id" id="category_id" class="textbox">
            <option value="{id}" >{title}</option>
        </select>
    </p>
    <p><label for="description">Description:</label></label><textarea name="description" id="description" class="textbox"></textarea></p>
    <p>
    	<input type="checkbox" name="enabled" id="enabled" value="1" />
    	Publish video
    </p>
    <p>
    	<input type="checkbox" name="explicit" id="explicit" value="1" /> 
    	<small style="color:#FF0000;font-weight:bold;font-size:12px;"> This video contain violence, gore or strong sexual content</small>
    </p>
    <div id="advance">
        <p><label for="url_title">URL Title:</label><input type="text" class="textbox" name="url_title" id="url_title" maxlength="90" value="" /></p>
        <p><label for="meta_desc">Meta Desc:</label><textarea name="meta_desc" id="meta_desc" class="textbox"></textarea></p>
    </div>
    <p align="center"><input type="submit" class="button" id="btn" /></p>
</form>