<div class="leftside">
<h3>Manage your uploaded videos here.</h3>
    <div id="videoList">
        <div class="video_list {ROWCLASS}" >
            <img src="thumbnail1sml.jpg" width="120" height="80" />
            <b>Title:</b> {title}<br />
            <b>Date Added:</b> {date_added}.<br />
            <b>Lenght:</b> {duration}<br />
            <b>Watched:</b> {watched}<br />
            <br class="clearleft" />
            <ul class="edit_list">
                <li><a href="#" target="_blank">Play</a></li>
                <li><a href="#{id}" class="edit">Edit</a></li>
                <li><a href="#{id}" class="del" data-event-confirm="Are you sure you want to remove this record?">Delete</a></li>
            </ul>
            <br class="clearleft" />
        </div>
    </div> 
    <div id="pager" class="right"></div>   
</div>

<div class="rightside">
    <script type="text/javascript"><!--
    google_ad_client = "pub-7769573252573851";
    /* 300x250_txt_img */
    google_ad_slot = "6699070243";
    google_ad_width = 300;
    google_ad_height = 250;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>