body{ margin:0px; padding:0px; }
table{ border-collapse:collapse; }
table th{ white-space:nowrap; width:90px; }
table th.lable{ white-space:nowrap; width:auto; }
#cms_header
{ 
	text-align:center; 
	font-weight:bold; 
	font-size:18pt; 
	height:59px;
	margin:0px;
	padding:0px;
	background-color:#bac9cf;
	color:#333333;
}

#main{ padding:5px 0px 10px 10px; }
#menuCell{ background-color:#bac9cf; }
#menu tr td a
{ 	
	display:block;  
	color:#000000;
	text-decoration:none;
	font-size:16px;
	font-weight:bold; 
	padding:2px 0px 2px 5px;
	border:solid 1px #005a8c;
	background-color:#FFFFFF;
}

#menu tr td a:hover{ color:#FF0000; background-color:#c7d3d8; border:solid 1px #000000;}

#main table tr th{ text-align:left; vertical-align:top; padding:3px 10px 3px 10px; background-color:#ece9d8; border-top:dotted 1px #666666; }
#main table tr td{ padding:3px 10px 3px 10px; border-top:dotted 1px #666666; border-right:dotted 0px #666666; }
#main table tr th.header, h1.header
{ 
	color:#4d646f;
	text-align:left; 
	text-transform:uppercase; 
	font-size:19px;  
	padding:5px 0px 10px 10px; 
	background-color:#FFFFFF; 
	border:0px;
}
#main table tr td.pagination{ border:0px; }



.required{ color:#FF0000;}

.error{ text-align:left; font-weight:bold; color:#FF0000; }
.errorMessage{ text-align:center; font-weight:bold; color:#FF0000; }
.selectGoup{ width:170px; float:left; position:relative; height:20px; padding-right:10px; white-space:nowrap;}
.clear{ clear:both; }
label{ font-weight:bold; }
.pagination{ font-size:13px; color:#333333; }
.pagination a{ color:#0000FF; }

.notes{ margin:5px 5px 5px 0px; padding:5px; line-height:1em; font-size:17px; border:outset 1px #005a8c; background-color:#bac9cf; }