
<h3>Keep your passwords secret</h3>
<p>Treat your passwords and pass phrases with as much care as the information that they protect.</p>
<hr>

<h3>Change your passwords regularly</h3>
<p>The strength of your password will help keep it good for a longer time. A password that is shorter than 8 characters should be considered only good for a week or so, while a password that is 14 characters or longer can be good for several years.</p>
<hr>

<h3>Do not type passwords on computers that you do not control</h3>
<p>Computers such as those in Internet cafe's, computer labs, shared systems, kiosk systems, conferences, and airport lounges should be considered unsafe for any personal use other than anonymous Internet browsing.</p>
<hr>


<h3>Never provide your password over e-mail or based on an e-mail request. </h3>
<p>Any e-mail that requests your password or requests that you to go to a Web site to verify your password is almost certainly a fraud. </p>
<hr>

<h3>Personal information</h3>
<p>Beware of emails requesting that you provide your login credentials or re verify your account information. Legitimate companies will never request personal information via email or unsolicited telephone calls. You should also ensure that your web browser is up to date and security patches applied.</p>
<hr>


<h3>PASSWORDS</h3>
<p>For your additional protection Moneyline passwords are now case sensitive, please enter your password in the format it was created. Please contact our Client Care Center if you experience difficulties in logging in to Moneyline.</p>
<hr>

<h3>Protect any recorded passwords</h3>
<p>Be careful where you store the passwords that you record or write down. Do not leave these records of your passwords anywhere that you would not leave the information that they protect.</p>
<hr>

<h3>Create a strong, memorable password</h3>
<p>Think of a sentence that you can remember. This will be the basis of your strong password or pass phrase. Use a memorable sentence, such as "My son Aiden is three years old."</p>
<hr>

<h3>Passwords - Don't reveal them to others</h3>
<p>Keep your passwords hidden from friends or family members (especially children) who could pass them on to other less trustworthy individuals. Passwords that you need to share with others, such as the password to your online banking account that you might share with your spouse, are the only exceptions.</p>
<hr>

