a{text-decoration:none}
a:hover{text-decoration:underline;}
/*ICON*/
.readyYes{background:url(../images/tick.png) no-repeat;display:block;width:16px;height:16px;}
.readyNo{background:url(../images/cross.png) no-repeat;display:block;width:16px;height:16px;}
.remove_imge{background:url(../images/icon-delete.gif) no-repeat; display:inline-block; text-decoration:none; padding-left:16px;}
.remove_imge:hover{ text-decoration:underline;}
/*ICON*/
#header span{display:inline-block; padding:3px 10px; color:#FFFFFF; margin-bottom:5px; font-size:2.2em;}
#header div{color:#FFFFFF; padding-top:10px; float:right;}
#header div a{color:#FFFFFF; font-size:13px;}
#container{width:960px; margin:0 auto; text-align:left;}
#menu{width:20%;}
#menu li h3{background-color:#333333;color:#FFFFFF;padding-left:5px;font-size:1em;}
#menu li a{display:block; color:#333333;padding-left:5px; margin-bottom:3px; font-size:0.9em;}
#main_content{float:right;width:79%;}

p{margin-bottom:5px;}
label{width:95px; display:inline-block;}
textarea{height:200px; width:80%;}

table{border-collapse:collapse; }
table tr.rowStyle1 td,table tr.rowStyle2 td{ padding:5px 5px; border:solid 1px #000;}
table tr.rowStyle1 td{background-color:#F0F5AD;}
table tr.rowStyle2 td{background-color:#333; color:#FFF;}

a img{ border:0;}
.err{font-weight:bold;color:#FF0000;text-align:left;border:solid 1px #F3CF83;display:block;text-align:center;background-color:#FFFF80;padding:5px 10px; margin:5px 20%;}
.msg{font-weight:bold;color:#FF0000;text-align:center;}
.clearright{ clear:right;}

#artistelist{ float:right;}
.ui-icon-trash, .ui-icon-refresh{background:url(../images/tick.png) no-repeat;display:inline-block;height:16px;width:16px;}
.ui-icon-refresh{ background:url(../images/cross.png)no-repeat;}