#ieCheck
{
	background-color: #fff;
	border: 10px solid #cccccc;
	color: #252525;
	font-family: "Myriad Pro", Arial, Tahoma, Verdana;
	font-size: 13px;
	margin: 15% auto 0 auto;	
	padding: 20px;
	text-align: left;	
	width: 300px;	
}
#ieCheck a img
{
	border: none;
}
#ieCheck span.error-msg
{
	display: block;
}
#ieCheck h2
{
	color: #000;
	font-size: 18px;
	margin: 5px 0;
}
#ieCheck .browser-icons
{
	display: block;
	text-align: center;
	width: 300px;
}
#ieCheck .browser-icons img
{
	margin: 0 2px;
}
