<form name="frm" id="frm" action="" method="post">
<table id="dataform">
	<caption><span id="formtitle">Add Client</span></caption>
	<tr class="trow"><th colspan="2">Personal Information</th></tr>
    <tr>
        <th><label>Customer-Code</label></th>
        <td><label>Premise-Code</label></td>
    </tr>
    <tr>
        <th><input name="customer" id="customer" type="text" class="textbox" maxlength="6" /></th>
        <td><input name="premise" id="premise" type="text" class="textbox" maxlength="6" /></td>
    </tr>
    <tr>
        <th><label for="trn">TRN-#</label></th>
        <td><input name="trn" id="trn" type="text" class="textbox" maxlength="11" /></td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" class="button btnadd right" value="Add client" id="btnadd" /></td>
    </tr>
</table>
</form>