<form name="frm" id="frm" method="post" action="">
<table class="users alert round rax-table" id="datasheet">
	<caption>
    	<input type="button" value="Add Client" class="button btnadd right" title="add new clients" onclick="location='manage-client.php'" />
        <span id="formtitle">Client Listing</span>
    </caption>
	<thead>
    <tr class="tbl-header" id="tformh">
        <th colspan="10">Filter Clients</th>
    </tr>
    <tr id="tform">
        <td class="rowcount"></td>
        <td><input type="text" class="textbox" name="premise" id="premise" maxlength="6" size="8" /></td>
        <td><input type="text" class="textbox" name="customer" id="customer" maxlength="6" size="8" /></td>
        <td><input type="text" class="textbox" name="fname" id="fname" autocomplete="off" /></td>
        <td><input type="text" class="textbox" name="lname" id="lname" autocomplete="off"  /></td>
        <td><input type="text" class="textbox" name="trn" id="trn" autocomplete="off" maxlength="12" /></td>
        <td>
        	<select name="property_type" id="property_type" class="textbox">
            	<option value="{property_id}">{property_type}</option>
            </select>
        </td>
        <!--td>
        	<select name="ranking" id="ranking" class="textbox">
            	<option value="">All</option>
                <option value="1">*</option>
                <option value="1">**</option>
                <option value="1">***</option>
            </select>
        </td-->
        <td>&nbsp;</td>
    </tr>
    <tr class="tbl-header">
        <th>&nbsp;</th>
        <th>Premise</th>
        <th>Customer</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>TRN-#</th>
        <th>Property Type</th>
        <!--th>Ranking</th-->
        <th class="action"><span style="float:right;"><a class="filter" href="javaScript:showHide();" title="filter list"></a></span>Action</th>
    </tr>
    </thead>
    <tbody id="data_grid">
        <tr class="{ROWCLASS}">
            <td width="1">{ROWCOUNT}</td>
            <td width="12">{premise}</td>
            <td>{customer}</td>
            <td>{first_name}</td>
            <td>{last_name}</td>
            <td>{trn}</td>
            <td>{property_type}</td>
            <!--td>***</td-->
            <td class="action">
            	<a class="edit" title="edit this client" href="#{id}"></a>
                <a class="history" title="view client payment history" href="#{id}"></a>
                <a class="delete" title="delete this client" href="#{id}" data-event-confirm="Are you sure you want to delete this client?"></a>
            </td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
    	<td colspan="10">
            <span id="pager" class="right"></span>
            <span class="right rtm">
            <select name="pagesize" id="pagesize" xt-bind="change,pageSize,,true">
            	<option value="10">10</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="80">80</option>
                <option value="100">100</option>
                <option value="500">500</option>
            </select>
            </span>
        </td>
    </tr>
    </tfoot>
</table>
</form>
<script>
var tf  = document.getElementById("tform");
var tfh = document.getElementById("tformh");

function showHide()
{
	if(tf.style.display == "none")
	{
		tf.style.display = "";
		tfh.style.display = "";
	}
	else
	{
		tf.style.display = "none";
		tfh.style.display = "none";
	}
}
tf.style.display="none";
tfh.style.display="none";
</script>
