  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Master-Tem</title>
<style type="text/css">
<!--
@import url("views/css/styles.css");
-->
</style>
</head>

<body>
<div id="container" class="round">
	<!--img src="views/images/logo1.jpg" /-->
    <div id="logo"></div>
    <span class="rightinfo">Hi <span id="username"></span> | <a id="logout" href="#">Log out</a></span>
    <ol id="menu" class="rax-glossy">
        <li><a href="index.php">Home</a></li>
        <li><a href="manage-clients.php">Manage Clients</a></li>
        <li><a href="disconection-list.php">Disconection List</a></li>
    </ol>
    <ul id="submenu" class="rax-glossy">
        <li><a href="#">Reports</a>&bull;</li>
        <li><a href="manage-users.php">Manage Users</a></li>
        <li>&bull;<a href="#">Settings</a></li>
    </ul>
    <div class="flashmsg tpm lfm" xt-autoupdate></div>
    <div class="master-content" >CONTENT WILL SHOW UP HERE</div>
</div>
<p align="center">&nbsp;</p>
</body>
</html>
