<head>
<link href="../../../raxan/ui/css/master.css" rel="stylesheet" type="text/css">
<link href="../../../raxan/ui/css/master-ui.css" rel="stylesheet" type="text/css">
<link href="../../../raxan/ui/css/master.ie.css" rel="stylesheet" type="text/css">
<style type="text/css">
.style1 {
	vertical-align: middle;
}
</style>
</head>

<script LANGUAGE="Javascript" type="text/Javascript">
    <!--
    Raxan.ready(function(){
        $('.dtPicker').datepicker({
            dateFormat:'yy-mm-dd',
            changeMonth: true,
            changeYear: true
        });

        $('#startDateImg').click(function(){
            $("#startDate").datepicker('show');
        });

        $('#endDateImg').click(function(){
            $("#endDate").datepicker('show');
        });
        
        $('#show-hide').click(function() {
            var on = 'views/images/plus.gif';
	        var off = 'views/images/minus.gif';

        	d = $('#accountDetails');
	        d.toggle();
	        img = (d.css('display')=='none') ?  on : off;
	        $('#show-hide-img').attr('src',img);

        });
    });
    //-->
</script>
<h3 langid="account.detail.heading">Payee Maintenance</h3>
<hr>

<div>
    <div id="errorList"></div>
    <form action="" >
        <div style="width: 100%" >
        	<table style="width: 100%" id="payeeListing" cellpadding="0" cellspacing="0" border="0">
				<tr class="payeeRow">
					<td width="90%">
					<img id="show-hide-img" src="views/images/plus.gif" class="style1"/>&nbsp;<b>&nbsp;{payeeName}</b></td>
					<td>edit <input type="checkbox" id=""></td>
				</tr>
			</table>
		

        </div>
    </form>


    <hr>

    <div style="margin-top:5px; margin-right: 10px" align="right">
        <input langid="payee.add"type="submit" name="add" class="button process" xt-bind="click, findTransactions" value="Add Payee"/>
        &nbsp;
        <input langid="payee.delete" type="reset" name="delete" class="button" value="Delete Selected Payees"/>
    	&nbsp;
    </div>
</div>