<script LANGUAGE="Javascript" type="text/Javascript">
    <!--
    Raxan.ready(function(){
        $('.dtPicker').datepicker({
            dateFormat:'yy-mm-dd',
            changeMonth: true,
            changeYear: true
        });

        $('#startDateImg').click(function(){
            $("#startDate").datepicker('show');
        });

        $('#endDateImg').click(function(){
            $("#endDate").datepicker('show');
        });
    });
    //-->
</script>
<h2 id="header" >Pension Information</h2>
<hr/>

<div>
    <div id="toolbarSection">

    </div>

    <br/>
    <div id="masterSection">

    </div>

    <br/>
    <div id="detailSection">

    </div>
</div>